body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #111;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
}

.container {
  padding: 20px;
}

.news-card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.login-box, .admin-box {
  width: 300px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin: 10px 0;
  padding: 10px;
}
